player-connection-mode=Listen
player-connection-guid=221272965
player-connection-debug=0
player-connection-project-name=NetWorkShop
player-connection-ip=10.98.0.5
player-connection-ip=10.101.16.250
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=86ddc68fa2c94cd48c49720c93703281
dedicatedServer-port=7777
dedicatedServer-framerate=30
dedicatedServer-logpath=logs
dedicatedServer-queryport=20000
dedicatedServer-querytype=SQP
dedicatedServer-argument-error-policy=1
