player-connection-mode=Listen
player-connection-guid=591999555
player-connection-debug=0
player-connection-project-name=NetWorkShop
player-connection-ip=10.252.7.171
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=32b5497988934bcebd4f6b0c2f8919c8
dedicatedServer-port=7777
dedicatedServer-framerate=30
dedicatedServer-logpath=logs
dedicatedServer-queryport=20000
dedicatedServer-querytype=SQP
dedicatedServer-argument-error-policy=1
