player-connection-mode=Listen
player-connection-guid=154297399
player-connection-debug=0
player-connection-project-name=NetWorkShop
player-connection-ip=10.98.0.11
player-connection-ip=10.252.29.107
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9d62a99083834e8a949c0258489f9ae2
dedicatedServer-port=7777
dedicatedServer-framerate=30
dedicatedServer-logpath=logs
dedicatedServer-queryport=20000
dedicatedServer-querytype=SQP
dedicatedServer-argument-error-policy=1
